@CHARSET "UTF-8";

body {
	width: 650px;
	margin: 0 auto;
		background-color: #F8F8FF;
	font-family: 'Helvetica Neue', sans-serif;
}

img {
	width: 250px;
	margin: 5px 5px;
}

form {
	position: fixed;
	width: 400px;
	top: 20%;
}
/**form2{ 
	text-align: center;
	width: 400px; 
	height:250px;
	position:absolute;
    top:20%;
    right:35%;
    left:35%;
}*/
.center {
	float: left;
	width: 400px;
	padding: 10px;
}

.right {
	float: right;
	width: 200px;
	padding: 10px;
}

.right1 {
	position: fixed;
	width: 200px;
	top: 25%;
}

.imePriimek {
	width: 250px;
	height: 35px;
	font-size: medium;
}

.button1 { /*basic styles*/
	width: 250px;
	height: 40px;
	color: white;
	background-color: #99CF00;
	text-align: center;
	font-size: 30px;
	line-height: 50px; /*gradient styles*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#99CF00),
		to(#6DB700) );
	background: -moz-linear-gradient(19% 75% 90deg, #6DB700, #99CF00);
	/*border styles*/
	border-left: solid 1px #c3f83a;
	border-top: solid 1px #c3f83a;
	border-right: solid 1px #82a528;
	border-bottom: solid 1px #58701b;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-gradient
	(linear,
	0%
	0%,
	0%
	100%,
	from(#99CF00),
	to(#6DB700))
}

.button h3 {
	font-size: 20px;
	line-height: 35px;
	font-family: helvetica, sans-serif;
}

.button p {
	font-size: 12px;
	line-height: 4px;
	font-family: helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: fff;
}

.button:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6DB700),
		to(#99CF00) );
	background: -moz-linear-gradient(19% 75% 90deg, #99CF00, #6DB700);
}

.styled-button-9 {
	background: #25A6E1;
	background: -moz-linear-gradient(top, #25A6E1 0%, #188BC0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #25A6E1),
		color-stop(100%, #188BC0) );
	background: -webkit-linear-gradient(top, #25A6E1 0%, #188BC0 100%);
	background: -o-linear-gradient(top, #25A6E1 0%, #188BC0 100%);
	background: -ms-linear-gradient(top, #25A6E1 0%, #188BC0 100%);
	background: linear-gradient(top, #25A6E1 0%, #188BC0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#25A6E1',
		endColorstr='#188BC0', GradientType=0 );
	padding: 8px 10px;
	color: #fff;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 17px;
	border-radius: 2px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #1A87B9
}